.project-header{
  @apply px-8 pt-3 border-b border-gray-200;
}

.heading {
  @apply font-bold text-xl mb-2;
}

.project-menus {
  @apply flex items-center text-gray-500 gap-4;
}

.project-menu-item{
  @apply pt-1 pb-1 hover:text-gray-700 text-sm border-transparent cursor-pointer; 
}

.project-menu-item.active {
  position: relative;
}

.project-menu-item.active:after {
  position: absolute;
  content: '';
  left: 0;
  bottom: -1px;
  width: 100%;
  background: red;
  height: 1px;
}

.project-actions{
  @apply px-8 py-1.5 border-b border-gray-200 flex items-center justify-between;
  @apply text-sm
}

.project-search{
  @apply flex items-center gap-2;
}

.project-action-advanced {
  @apply flex justify-end items-center gap-1;
}

.project-task-list {
  @apply overflow-x-hidden overflow-y-auto;
}

/* Task */

.task-view-group{
  @apply flex flex-col gap-4;
  @apply px-8 pt-4;
}

.task-group-section {
  @apply relative;
}

.task-group-section .section-title{
  @apply font-bold mt-1;
}

.task-group-heading {
  @apply flex items-end justify-between;
  @apply sticky top-0 left-0 w-full;
  @apply bg-white z-10 border-b border-gray-200 pb-1;
}

.task-columns {
  @apply flex items-center gap-1 w-full;
}

.task-col, .task-heading-columns .task-col{
  @apply text-sm text-center px-1.5 min-w-[70px];
}

.task-columns.task-heading-columns .task-col {
  font-size: 0.65rem;
  @apply text-gray-600;
}

.task-heading-columns .task-col {
  @apply text-xs uppercase font-medium;
}


.task-line {
  @apply flex items-center gap-2 justify-between py-2;
  @apply text-sm;
  @apply border-b border-gray-200 hover:bg-gray-50 cursor-pointer;
}

.task-line-add {
  @apply border-transparent text-xs cursor-pointer hover:bg-white;
}

.task-left, .task-right {
  @apply flex items-center gap-2 text-gray-500;
}

.task-line-icon {
  @apply w-5 h-5 cursor-pointer text-gray-400 inline-flex;
}

/* Components */
.btn {
  @apply flex items-center gap-1 px-2 py-0.5 rounded-md text-gray-500;
  @apply hover:bg-gray-100;
}

.btn-sm {
  @apply text-xs;
}

input[type="text"] {
  @apply outline-none border-transparent text-xs py-0 pl-0;
}

